body
    .ant-modal-mask
        background: var(--var-past)

    .customizeDropdown
        .ant-dropdown-menu
            margin: 25px 0 0
            padding: 0
            box-shadow: none
            background: none

            .ant-dropdown-menu-item
                padding: 0

                &:hover
                    background: none

    .customizeDropdownMain
        background: #fff
        border: 1px solid rgba(#000, 0.07)
        border-radius: 8px
        padding: 5px

        .item
            display: flex
            align-items: center
            gap: 10px
            padding: 5px 10px
            cursor: pointer
            border-radius: 8px

            &:hover
                background: rgba(#000, 0.04)